* {
    color: #C4D5E8;
    background-color: #0D1B2D;
}

window {
    height: 400px;
    width: 450px;
    border: 0;
    border-radius: 0;
}

mainbox {
    spacing: 0;
    background-color: #0D1B2D;
    color: #C4D5E8;
    children: [inputbar, message, listview];
}

inputbar {
    background-color: #0D1B2D;
    padding: 15px;
}

listview {
    border: 0;
    background-color: #0D1B2D;
    padding: 10px;
    dynamic: false;
}

prompt {
    margin: 0 10px 0 0;
    background-color: #0D1B2D;
}

element {
    padding: 3px;
    vertical-align: 0.5;
    border-radius: 0;
    background-color: #0D1B2D;
}

element-text.selected.normal,
element-icon.selected.normal,
element.selected.normal {
    background-color: #162B43;
}

element-text,
element-icon {
    size: 32px;
    margin: 5px;
    color: #C4D5E8;
    background-color: #0D1B2D;
    vertical-align: 0.5;
}

